body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    gap: 15px;
}

button {
    font-weight: 900;
}

.round-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#choices {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}